.collection-item {
    font-size: 12px;
    height: 10vh;
    width: 100%;
    margin: 0;
    
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    border: none;
    border-bottom: 1px solid black;
}

.item-image {
    float: left;
    height: 10vh;
    width: auto;
    padding-left: 20px;
    padding-right: 10px;
}

.item-name {
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 0;
}
.item-price {
    font-size: 12px;
    font-weight: bold;
    color: gray;
    margin-top: 2px;
}

.delete-button {   
    float: right;
    margin-top: 3.5vh;
    margin-right: 20px;
}