.info-card {
    display: inline-block;
    text-align: center;
    justify-content: center;
    width: 24%;
    border-radius: 15px;
    box-shadow: 0px 2px 2px 1px gray;
    padding-top: 10px;
    padding-bottom: 20px;
    margin-top: 5%;
    margin-left: 3%;
    margin-right: 3%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.info-card h2{
    font-size: 15px;
    margin-top: 2%;
    margin-bottom: 2%;
}

.info-card a{
    margin-top: 2;
    font-size: 40px;
    font-weight: bold;
}