.login-box {
    margin: auto;
    margin-top: 10%;
    background-color: white;
    width: 300px;
    height: 280px;
    border: 10px black;
    border-radius: 10px;
}

.login-box h1{
    font-size: 30px;
    padding-top: 20px;
}


.form-box input{
    border: none;
    border-bottom: 1px solid black;
    font-size: 15px;
    padding: 5px 10px;
    margin-bottom: 20px;
}

.form-box input:focus {
    outline: none;
}

.form-box button{
    height: auto;
    font-size: 15px;
    width: 210px;
    padding-top: 7px;
    padding-bottom: 7px;
    margin-bottom: 10px;

    outline: none;
    border:none;
    border-radius: 10px;
}

.login-button:hover{
    background-color: #dedede;
}

.login-button:active{
    border: none;
    background-color: #d4d4d4;
}

.create-button{
    
    background-color: #3fae2b;
    color: white;
}

.create-button:hover {
    background-color: #39a127;
}

.create-button:active {
    background-color: #339123;
}


