.header-group{
    display: flex;
    align-content: flex-end;
}

.my-collection-title {
    text-align: left;
    margin-top: 30px;
    margin-left: 25px;
    margin-right: 25px;
}

.my-collection-box{
    background-color: white;
    flex: 3;
    height: 80vh;
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 15px;
    align-items: center;

    border-radius: 10px;

}

.my-collection {
    height: 50vh;
    overflow-y: scroll;
}