.search-bar-box{
    background-color: white;
    flex: 1;
    align-items: center;
    height: 80vh;
    margin-top: 50px;
    margin-right: 100px;
    margin-left: 15px;
    border-radius: 10px;
}

.search-bar{
    border: none;
    border-bottom: 1px solid black;
    font-size: 15px;
    padding: 5px 10px;
    margin-bottom: 20px;
}

.search-bar:focus {
    outline: none;
}