.search-item {
    background-color: white;
    font-size: 12px;
    height: 10vh;
    padding: 0;
    margin: 0;
    text-align: center;
}

.search-item h1 {
    font-size: 12px;
    max-width: 12vw;
    margin: 0;
    padding-top: 0.8vh;
    overflow: hidden;
    white-space: nowrap;
    text-overflow:ellipsis;
}

.search-item p{
    font-weight: bold;
    color: gray;
    max-width: 12vw;
    overflow: hidden;
    white-space: nowrap;
    text-overflow:ellipsis;
    margin: 0;
    padding-top: 0.8vh;
}

.search-item:hover{
    background-color: lightgrey;
}

.item-image {
    float: left;
    height: 10vh;
    width: auto;
    padding-left: 20px;
}
